<div *ngFor="let todo of todos" class="card card-custom">

  <div class="card-block">
    <h4 class="card-title">{{todo.title}}</h4>
    <p>
      <small class="text-muted">
        Added by {{todo.created_by}} at {{todo.created_at | date}}
      </small>
    </p>

    <button type="button" class="btn btn-outline-info" disabled>Show Items</button>

    <div class="btn-group float-right" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-warning" disabled>Edit</button>
      <button type="button" class="btn btn-danger" (click)="deleteTodo(todo)">Delete</button>
    </div>
  </div>
  
</div>

<hr *ngIf="todos.length > 0">

<div>
  <h3>New Todo</h3>
  <form>
    <div class="form-group">
      <label>Title* <small>required</small></label>
      <input type="text" class="form-control" placeholder="Task title" [(ngModel)]="newTodoTitle" name="newTodoTitle">
    </div>
    <div class="form-group">
      <label>Name* <small>required</small></label>
      <input type="text" class="form-control" placeholder="Your name" [(ngModel)]="newTodoCreatedBy" name="newTodoCreatedBy">
    </div>
  </form>

  <div class="btn-group float-right" role="group" aria-label="Basic example">
    <button class="btn btn-primary float-right" (click)="postTodo()">Add Todo</button>
    <button type="button" class="btn btn-secondary" (click)="deleteNewTodo()">Clear Fields</button>
  </div>
</div>